/* 
styling for testing
showing borders
*/
:root {
    display: grid;
    place-items: center;
}
body {
    text-align: center;

    display: grid;
    grid-template: 200px 1fr / 500px  600px;
    grid-template-areas:
    "title title"
    "tools sketch-box"
}
h1 {
    grid-area: title;
}

.main-container {
    grid-area: sketch-box;

    border: none;
    padding: 5px;
    margin: 30px auto;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.squares {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;
}

.customize-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 150px;
    height: 45px;
}
